body {
    background-color: #fff;
    color: #000;

    font-family: Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
}

canvas {
    display: block;
    margin: auto;
    border: 1px solid #888;
}

@media(prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: #fff;
    }
}